body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:119px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:238px;
  width:320px;
  height:119px;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:99px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:470px;
  width:320px;
  height:99px;
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:357px;
  width:320px;
  height:113px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u123 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:24px;
  width:47px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
